# Requires direnv and direnv hook to be setup in shell to automatically load on project load.
# Don't error out if not using asdf.
use asdf 2>/dev/null || true

export DIRENV_LOG_FORMAT=""
export DIRENV_WARN_TIMEOUT='10s'
source_env_if_exists "$HOME/.envrc" # Load my $HOME/.envrc for user defaults
