export PATH="${AQUA_ROOT_DIR:-${XDG_DATA_HOME:-$HOME/.local/share}/aquaproj-aqua}/bin:$PATH" # for those using aqua this will ensure it's in the path
export DIRENV_LOG_FORMAT=""
export DIRENV_WARN_TIMEOUT='10s'
dotenv_if_exists "${HOME}/.env"
source_env_if_exists "${HOME}/.envrc"
export PATH="${GOPATH}/bin:${PATH}"
export MAGEFILE_ENABLE_COLOR=1
export MAGEFILE_HASHFAST=1

# friendly helpers for devs

alias tcc='trunk check --ci'
