# Created by https://www.toptal.com/developers/gitignore/api/go
# Edit at https://www.toptal.com/developers/gitignore?templates=go

### Go ###
# If you prefer the allow list template instead of the deny list, see community template:
# https://github.com/github/gitignore/blob/main/community/Golang/Go.AllowList.gitignore
#
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

# Go workspace file
go.work

### Go Patch ###
# /vendor/
/Godeps/

# End of https://www.toptal.com/developers/gitignore/api/go

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# build and test result outputs
main
main_authorizer
main_authorizer.zip
main.zip
report.xml
report-e2e.xml
codecoverage.xml
packaged.yaml
/output
.idea
.vscode
thy
thyvault
thyvault.exe
bin/*
/svc_acct_creds_1
docs/mkdocsenv/
docs/site/
dsv
dsv.exe

cicd-integration/data/test_policy.json
cicd-integration/.thy.yml

scratch.*
dist/
.artifacts/
.cache/
mage_output_file.go

**/bin/**
# compiled temporary binary
magec
dsv.test
coverage/*
!coverage/.gitkeep

# Custom rules (everything added below won't be overriden by 'Generate .gitignore File' if you use 'Update' option)

./artifacts
**/*/*.exe
**/*/bin
.env
artifacts/
tools
.artifacts
_artifacts
**/*/bin
mage_output_file.go

dist/
.cache/

## No secrets in this project!
## We should persist these in artifact, azure library, or use DSV command line.
## Do not include secrets in the repo.
**/*/id_rsa.pub
**/*/id_rsa
**/*/id_dsa.pub
**/*/id_dsa
**/*/*.pem
**/*/*.key
*.pem
id_rsa.pub
id_rsa
id_dsa.pub
id_dsa
*.key
*.csr

# Temporarily block any pub certs from being included till I confirm.
*.pub

# install for powershell resulted in .deb file getting into repo. let's remove that!
*.deb

# Generated credential file should never get committed
snapcraft-login
**/*/snapcraft-login

# mac
.DS_Store

# snyk
.dccache
