export DSV_CLI_E2E_DOMAIN=<tenant domain, e.g. secretsvaultcloud.com>
export DSV_CLI_E2E_TENANT=<tenant name>
export DSV_CLI_E2E_USERNAME=<username>
export DSV_CLI_E2E_PASSWORD=<password>
export DSV_CLI_E2E_CERTIFICATE=<certificate>
export DSV_CLI_E2E_PRIVKEY=<private key>